name: Pylint and regression test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install nd2
        pip install scipy
        pip install opencv-python
        pip install scikit-image
        pip install numpy
        pip install matplotlib
        pip install pylint
        pip install pytest
        pip install .
    - name: Analysing the code with pylint
      run: |
        export PYLINTRC=./.github/workflows/.pylintrc
        pylint $(find ./vesicle_edge_extractor -name '*.py')
    - name: Running regression test with pytest
      run: |
        python -m pytest ./testing/test_edge_extractor_quality.py
