name: Update Reference Values

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install nd2 scipy opencv-python scikit-image numpy matplotlib
        pip install pylint
        pip install pytest
        pip install .

    - name: Configure Git
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

    - name: Create new branch
      run: |
        BRANCH_NAME="update-reference-$(date +%Y%m%d%H%M%S)"
        echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_ENV
        git checkout -b $BRANCH_NAME

    - name: Update reference files
      run: |
        python -m pytest ./testing/test_edge_extractor_quality.py --update-ref-values

    - name: Commit changes if any
      run: |
        git add testing/reference_values/
        if ! git diff --cached --quiet; then
          git commit -m "Update reference files"
          git push origin $BRANCH_NAME
        else
          echo "No changes to commit"
          exit 1
        fi

    - name: Create Pull Request
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh pr create \
          --title "Update reference values" \
          --body "Automated update of reference values." \
          --base main \
          --head $BRANCH_NAME
